$gomi-white: #FDF5F2;
$gomi-light-gray: #EDEDED;
$gomi-gray: #CCCCCC;
$gomi-dark-gray: #707070;
$gomi-deep-gray: #333333;
$gomi-black: #11100F;
$gomi-orange: #EDEDED;
$gomi-deep-orange: #ED6C36;
$gomi-dark-orange: #F28F4D;
$gomi-light-orange: #F8B684;

$panelBorder: $gomi-orange !default;
$skinActiveColor: #FE5000 !default;
$bodyColor: rgba(237, 237, 237, 0.48) !default;
$skinBlack: $gomi-black;
$panelHeaderBck: $skinBlack;
$skinBlackLight: rgb(112, 112, 112);
$textGray: rgb(204, 204, 204);
$skinTextColor: #11100F !default;
$skinTextActiveColor: $gomi-white !default;
$skinTextTable: $gomi-dark-gray !default;
$skinHeaderBck: $gomi-deep-gray !default;
$panelHeaderBck: #2c3e50 !default;