.header#header{
  padding: 0;
  width: 16%;
  overflow: hidden;
  float: left;
  height: 92.9% !important;
  background-color: $skinBlack;
  box-shadow: none;
  position: fixed;

  .header-item, .site_title{
    display: block !important;
    width: 100%;
  }

  .header-item.tabs{
    overflow-x: scroll;
  }

  .site_title{
    padding: 10px 0;
    margin: 0;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
    background-color: $skinActiveColor;
  }

  .header-item.tabs#tabs{
    li{
      display: block;
      a{
        text-align: center;
        color: $gomi-dark-gray;
        font-size: 14px;
      }

      &.current{
        a{
          color: #fff !important;
        }
      }

      &:hover{
        a{
          color: $gomi-light-gray;
          background-color: $skinBlackLight;
        }
      }

      &.has_nested{
        ul{
          margin: 0;
          width: 100%;
          background-color: $skinBlackLight;

          li{
            a{
              line-height: inherit;
              height: inherit;
            }
          }
        }

        &:hover{
          ul{
            background-color: $skinBlackLight;
          }
        }
      }

      &.current.has_nested{
        a{
          background-color: transparent !important;
        }
        .current{
          a{
            color: $skinActiveColor !important;
          }
        }
      }
    }
  }

  #utility_nav{
    padding: 0;
  }
}
