// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "~@activeadmin/activeadmin/src/scss/mixins";
@import "~@activeadmin/activeadmin/src/scss/base";

@import "./active_admin_flat_skin/active_admin_flat_skin";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

body {
  #header {
    #tabs.header-item.tabs {
      background-color: $gomi-light-gray;
      top: 0;

      li {
        color: $gomi-deep-gray;
        margin: 0;
      }
    }

    #site_title {
      border-color: $panelBorder;
      height: 70px;

      a:any-link {
        color: $gomi-white;
      }
    }
  }

  #active_admin_content {
    width: 83%;
  }

  div#main_content {
    .col {
      width: auto;
    }

    table.attr_table {
      vertical-align: middle;
      margin-bottom: 30px;

      tr {
        background-color: $gomi-white;
        border-bottom: solid 1px $gomi-deep-orange;
        border-top: solid 1px $gomi-deep-orange;
      }

      th {
        text-align: center;
        background-color: $gomi-light-orange;
      }

      td {
        vertical-align: inherit;
        text-align: left;
      }
    }

    //column_table 안씀
    div.column_table {
      margin-bottom: 30px;

      > div {
        margin: 0;
      }

      div.columns {
        background-color: $gomi-white;
        border-bottom: solid 1px $gomi-deep-orange;
        border-top: solid 1px $gomi-deep-orange;
        height: 100%;
      }

      div .column {
        position: relative;
        height: 100%;

        &.th {
          text-align: center;
          background-color: $gomi-light-orange;
        }
      }
    }

    a.action-btn {
      height: auto;
      padding: 0 2px 0 2px;
      border: solid 1px $gomi-orange;
      color: $gomi-orange;
      text-decoration: none;

      &.primary {
        background-color: $gomi-orange;
        color: $gomi-white;
      }
    }

    a.action-btn:hover {
      background-color: $gomi-dark-gray;
      color: $gomi-white;
      border-color: $gomi-white;

      &.primary {
        background-color: darken($gomi-orange, 5);
        border-color: darken($gomi-orange, 5);
      }
    }

    table {
      border: none;

      thead th {
        text-align: center;
        color: $gomi-deep-gray;
        background-color: $gomi-dark-orange;
        text-shadow: none;
        border: solid 1px $gomi-deep-orange;
      }

      tbody {
        text-align: center;
      }
    }
  }
}

// sales info에서 기본 scope 숨기기
body.index.sales_infos div.table_tools {
  display: none;
}
