// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "~@activeadmin/activeadmin/src/scss/mixins";
@import "~@activeadmin/activeadmin/src/scss/base";

@import "./active_admin_flat_skin/active_admin_flat_skin";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

#header {
  #tabs.header-item.tabs {
    background-color: $gomi-light-gray;
    top: 0;

    li.menu_item a {
      color: $gomi-deep-gray;
    }
  }

  #site_title {
    border-color: $panelBorder;

    a:any-link {
      color: $gomi-white;
    }
  }
}

div#main_content {
  div.column_table {
    > div {
      margin: 0;
    }
    div.columns {
      border-bottom: solid 1px $gomi-deep-orange;
    }
    div .column.th {
      height: 20px;
      background-color: $gomi-light-orange;
    }
  }
  a.action-btn {
    height: auto;
    padding: 0 2px 0 2px;
    border: solid 1px $gomi-orange;
    text-decoration: none;
    &.primary {
      background-color: $gomi-orange;
      color: $gomi-white;
    }
  }

  table {
      border: solid 1px $gomi-deep-orange;
    thead th {
      text-align: center;
      color: $gomi-deep-gray;
      background-color: $gomi-dark-orange;
      text-shadow: none;
      border: solid 1px $gomi-deep-orange;
    }

    tbody {
      text-align: center;
    }
  }

}
